<app-header></app-header>
<div class="container fade-in-1">
  <h1>Berechnung der Marken</h1>
  <hr>
  <br>
  <p>
  <div style="font-weight: bold">Menge vom Kleidungsstück (0-5 Punkte):</div>
    0 Punkte: Grosse Menge von Kleidungsstücken, viele davon selten getragen oder verschwenderisch
    erworben.
    <br>1-2 Punkte: Überdurchschnittliche Menge, aber mit Bemühungen, bewusster einzukaufen und
    Kleidung länger zu nutzen.
    <br>3 Punkte: Durchschnittliche Menge, aber bewusste Entscheidungen, umweltfreundliche Produkte zu
    kaufen und diese nachhaltig zu pflegen.
    <br>4-5 Punkte: Kleine, gut kuratierte Garderobe, überwiegend aus nachhaltigen Quellen.
    <br>Gesamtpunktzahl (0-10 Punkte): Addieren Sie die Punkte für Markennachhaltigkeit und Menge, um die Gesamtpunktzahl zu erhalten.
    <br><br>
  <h4>Beispiele von Marken 0-5:</h4>
  <div style="font-weight: bold">Shein: 1</div>
    Schneller Modezyklus und Bedenken hinsichtlich Umweltauswirkungen und Arbeitsbedingungen.
  <div style="font-weight: bold">H&M: 2</div>
    Die Einführung nachhaltiger Kollektionen, aber weiterhin Herausforderungen hinsichtlich des
    schnellen Modezyklus.
  <div style="font-weight: bold">Forever 21: 1</div>
    Bemühungen zur Verbesserung, aber historisch geringe Nachhaltigkeitsbewertungen.
  <div style="font-weight: bold">Mango: 3</div>
    Bemühungen um nachhaltigere Mode mit der "Committed"-Kollektion.
  <div style="font-weight: bold">Topshop: 3</div>
    Einführung von Initiativen zur Förderung von Nachhaltigkeit, aber noch Raum für Verbesserungen.
  <div style="font-weight: bold">Primark: 2</div>
    Bemühungen um Nachhaltigkeit, aber weiterhin Kritik bezüglich Arbeitsbedingungen.
  <div style="font-weight: bold">Pull & Bear: 2</div>
    Teil der Inditex-Gruppe, ähnliche Herausforderungen wie Zara, aber Bemühungen um Nachhaltigkeit.
  <div style="font-weight: bold">Stradivarius: 2</div>
    Teil der Inditex-Gruppe, Bemühungen um Nachhaltigkeit, aber Verbesserungspotenzial.
  <div style="font-weight: bold">Zara: 3</div>
    Bemühungen um Nachhaltigkeit, einschliesslich der Verwendung nachhaltigerer Materialien und
    Transparenz in der Lieferkette.
    <br>Allerdings bleibt die Marke im Bereich schneller Mode aktiv, was mit Umweltauswirkungen und
    ethischen Bedenken verbunden sein kann.
  <div style="font-weight: bold">Adidas: 3.5-4</div>
    Bemühungen um Nachhaltigkeit, einschliesslich der Verwendung nachhaltiger Materialien, aber es
    gibt Raum für weitere Verbesserungen.
  <div style="font-weight: bold">Nike: 3-3.5</div>
    Bemühungen um Nachhaltigkeit, aber wie bei vielen grossen Marken gibt es Herausforderungen.
    Second-Hand-Mode: 4 bis 5
    Als nachhaltige Option anerkannt, da sie die Ressourcennutzung und Abfallproduktion reduziert.
</div>
