<app-header></app-header>
<div class="container">
  <h1 class="fade-in-1">Nachhaltiger Kleiderschaft - mit GreenOrganizer</h1>
  <hr>
  <br>
  <p>
  <div class="fade-in-2">
    <h2>Nachhaltige Mode</h2>
    Nachhaltige Mode hat in den letzten Jahren an Bedeutung gewonnen und wird zunehmend zu einer bevorzugten Wahl für umweltbewusste Verbraucher. Diese Bewegung hin zu nachhaltiger Mode ist von grosser Bedeutung, da die herkömmliche Modeindustrie oft mit Umweltauswirkungen wie Wasserverschwendung, übermässigem Chemikalieneinsatz und schlechten Arbeitsbedingungen verbunden ist. Nachhaltige Mode hingegen setzt auf Prinzipien wie umweltfreundliche Materialien, ethische Arbeitspraktiken und eine Verringerung des ökologischen Fussabdrucks.

    <br>Eine der grundlegenden Säulen nachhaltiger Mode ist die Auswahl von Materialien, die die Umweltbelastung minimieren. Dies schliesst die Verwendung von Bio-Baumwolle, Hanf, Tencel und recycelten Materialien ein. Diese Stoffe erfordern weniger Wasser, reduzieren den Einsatz von schädlichen Chemikalien und sind biologisch abbaubar, was zu einer geringeren Umweltbelastung führt.

  <br><br><a class="redirect" href="team">Finde hier heraus, wie GreenOrganizer funktioniert.</a>

</div>
  <div class="fade-in-2">
    <br>
    <h2>Empfehlung von Nachhaltigen Marken:</h2>
    <a href="" style="font-weight: bold">Patagonia</a>
    ist bekannt für seine nachhaltige Outdoor-Bekleidung und Ausrüstung. Die Marke setzt sich
    aktiv für Umweltschutz und faire Arbeitsbedingungen ein.
    <br>
    <a href="" style="font-weight: bold">Eileen Fisher</a>
    bietet zeitlose, hochwertige Kleidung an und setzt auf nachhaltige Materialien und
    umweltfreundliche Produktionspraktiken.
    <br>
    <a href="" style="font-weight: bold">Veja</a>
    ist eine Sneaker-Marke, die sich auf nachhaltige Materialien, faire Arbeitsbedingungen und
    Transparenz in der Lieferkette konzentriert.
    <br>
    <a href="" style="font-weight: bold">Stella McCartney</a> ist eine Luxusmode-Marke, die sich auf vegane und nachhaltige Mode spezialisiert
    hat. Die Marke setzt auf umweltfreundliche Materialien.
    <br>
    <a href="" style="font-weight: bold">Reforomation</a> ist eine Modemarke, die sich auf nachhaltige Praktiken in Bezug auf Materialien,
    <br>
    <a href="" style="font-weight: bold">TOMS</a> ist bekannt für seine Schuhe und Accessoires und betreibt das One for One-Programm, bei
    dem für jedes verkaufte Produkt eine Spende an Bedürftige erfolgt.
    <br>
    <a href="" style="font-weight: bold">Pact</a> ist eine Marke, die sich auf nachhaltige und organische Kleidung spezialisiert hat. Sie legt Wert
    auf faire Arbeitsbedingungen und Umweltverträglichkeit.
    <br>
    <a href="" style="font-weight: bold">Allbirds</a> stellt Schuhe aus nachhaltigen Materialien wie Merinowolle und Baumwolle her. Die Marke
    hat auch Initiativen zur Reduzierung ihres ökologischen Fußabdrucks.
    <br>
    <a href="" style="font-weight: bold">Thought</a>(ehemals Braintree Clothing) bietet nachhaltige Kleidung an, die oft aus Bambus, Hanf und
    Bio-Baumwolle hergestellt wird.
    <br>
    <a href="" style="font-weight: bold">ABLE</a> ist eine Marke, die sich auf ethische Mode konzentriert und fair bezahlte Arbeitsbedingungen
    für Frauen in der Modebranche fördert.</div>
  <div class="fade-in-2">
    <br>
    <h2>Wasserverbrauch bei Kleidung</h2>
    Zwischen 2000 und 2015 hat sich die globale Anzahl der Kleidungskäufe verdoppelt, von etwa 50
    Milliarden auf über 100 Milliarden Stück. Doch das ist nicht genug, denn bis 2030 wird erwartet, dass
    der weltweite Bedarf an Kleidung sich nochmals nahezu verdoppeln wird.
Im Jahr 2018 beliefen sich die Ausgaben der deutschen Haushalte für Bekleidung auf 64,9 Milliarden
    Euro, was etwa 780 Euro pro Person entspricht. Dieser Betrag liegt etwas unter dem Ausgabenniveau
    der Italiener, aber über dem der Franzosen. Unter den europäischen Ländern geben die Briten mit
    über 1000 Euro pro Jahr am meisten für Kleidung aus.
    <br><br>Auf dem Weg vom Produktionsprozess bis zum Ladentisch durchläuft ein T-Shirt zahlreiche
    Behandlungen wie Glätten, Bleichen, Färben, Bedrucken und gegebenenfalls Imprägnieren,
    insbesondere bei spezieller Outdoor-Kleidung. Bei diesen Veredelungsprozessen setzt die
    Textilindustrie etwa ein Kilogramm Chemikalien pro Kilogramm Kleidung ein.
Insgesamt werden rund 6.500 verschiedene Chemikalien in der Textilverarbeitung verwendet,
    darunter auch Schwermetalle wie Kupfer, Arsen und Cadmium. Viele dieser Substanzen sind toxisch,
    einige haben sogar krebserregende Eigenschaften.
    <br><br>Das Färben von einem Kilogramm Garn erfordert außerdem etwa 60 Liter Wasser, das am Ende des
    Prozesses mit den chemischen Zusätzen verunreinigt ist.
Insbesondere im Anbau von Baumwolle werden erhebliche Mengen Wasser verwendet, was nicht nur
    dazu führt, dass natürliche Wasserreserven wie der Aralsee in Zentralasien stark entleert werden.
    <br><br>Zusätzlich wird das Wasser mit Pflanzenschutzmitteln und Düngemitteln kontaminiert. Dies geschieht
    in einem erheblichen Umfang, da 16 Prozent aller weltweit eingesetzten Insektizide auf
    Baumwollfeldern versprüht werden, obwohl diese nur 2,5 Prozent der globalen landwirtschaftlichen
    Fläche ausmachen. Die eingesetzten Substanzen gelangen durch Regen und Bewässerung in den
    Boden.
    <br><br><br>
  </div>
</div>

