h1 {
  font-family: "ABC Arizona Serif", serif;
  font-size: 28px;
  color: #3b403b;
  margin-top: 3em;
  letter-spacing: 2px;
}

h2 {
  font-family: "ABC Arizona Serif", serif;
  font-size: 22px;
  color: #3b403b;
  letter-spacing: 2px;
}

p {
  font-family: "ABC Diatype", sans-serif;
  margin-left: 3em;
}

hr {
  margin-right: 37em;
}


.fade-in-1 {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

.fade-in-2 {
  opacity: 0;
  animation: fadeIn 1.0s ease-in-out forwards;
}

.fade-in-3 {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

a {
  color: black !important;
  text-decoration: none;
}
