<div class="card rounded custom-card">
  <div class="card-body">
    <h5 class="card-title">Neues Kleidungsstück hinzufügen</h5>
    <p class="card-text">Füll deinen Kleiderschaft mit neuen Kleidungsstücken.</p>
    <form [formGroup]="clothingForm" (ngSubmit)="onSubmit()">
      <select class="form-select" [formControlName]="'type'">
        <option selected disabled>Kleidungsart auswählen</option>
        <option value="Jacke">Jacke</option>
        <option value="T-Shirt">T-Shirt</option>
        <option value="Hose">Hose</option>
        <option value="Jeans">Jeans</option>
        <option value="Schuhe">Schuhe</option>
        <option value="Accessoire">Accessoire</option>
      </select>
      <select class="form-select mt-2" [formControlName]="'brand'">
        <option selected disabled>Marke auswählen</option>
        <option value="Adidas">Adidas</option>
        <option value="Bershka">Bershka</option>
        <option value="H&M">H&M</option>
        <option value="Mango">Mango</option>
        <option value="Nike">Nike</option>
        <option value="Patagonia">Patagonia</option>
        <option value="Primark">Primark</option>
        <option value="Pull & Bear">Pull & Bear</option>
        <option value="Rework">Rework</option>
        <option value="Shein">Shein</option>
        <option value="Stradivarius">Stradivarius</option>
        <option value="The North Face">The North Face</option>
        <option value="Tommy Hilfiger">Tommy Hilfiger</option>
        <option value="Topshop">Topshop</option>
        <option value="Veja">Veja</option>
        <option value="Zara">Zara</option>
        <option value="andere Secondhand-Marke">andere Secondhand-Marke</option>
        <option value="andere Fast-Fashion Marke">andere Fast-Fashion Marke</option>
      </select>
      <select class="form-select mt-2" [formControlName]="'age'">
        <option value="Alter auswählen" disabled selected>Alter auswählen</option>
        <option value="weniger als 1 Monat">weniger als 1 Monat</option>
        <option value="weniger als 1 Jahr">weniger als 1 Jahr</option>
        <option value="1-2 Jahre">1-2 Jahre</option>
        <option value="2-3 Jahre">2-3 Jahre</option>
        <option value="Älter als 3 Jahre">Älter als 3 Jahre</option>
      </select>
      <div class="container col text-center mt-2">
        <button type="submit" class="btn btn-success">In meinen Kleiderschaft hinzufügen</button>
      </div>
    </form>
  </div>
</div>
