/* Responsive styles for smaller screens */
@media (max-width: 430px) {
  .justify-content-center {
    margin: 2em;
  }

  h1 {
    font-size: 20px;
    margin: 2em 1em 0.5em 1em; /* Adjusted margins */
  }

  hr {
    margin-right: 1em;
    margin-left: 1em;
  }

  /* Stack items vertically */
  .d-flex {
    flex-direction: column;
  }

  /* Reset the flex property */
  .flex-fill {
    flex: 0 0 auto;
    width: 100%; /* Ensure full width on smaller screens */
  }
}
