<app-header></app-header>
<div class="container">
  <h1>wer sind wir?</h1>
  <hr>
  <br>
  <p>
    Um einen klareren Überblick darüber zu erhalten, wie nachhaltig unser
    Kleiderschrank ist, haben wir die Website GreenOrganizer entwickelt. Unser Ziel ist es,
    dich darauf aufmerksam zu machen, wie wichtig es ist, nachhaltig einzukaufen, und
    dir gleichzeitig dabei zu helfen, dies zu erreichen.
    GreenOrganizer bietet eine einfache Möglichkeit, die Nachhaltigkeit deiner Kleidungsstücke zu bewerten.
    <br><br>Du kannst jedes Kleidungsstück hinzufügen, indem du
    Angaben zur Art des Kleidungsstücks, zur Marke und dazu, ob es gebraucht ist,
    machst. Anschliessend berechnet unsere Website diese Informationen, und das
    Ergebnis zeigt dir, ob es Gegenstände in deinem Kleiderschrank gibt, die nicht aus
    nachhaltigen Quellen stammen. Darüber hinaus erhältst du Empfehlungen, wie du in
    Zukunft mehr Wert auf nachhaltige Kleidung legen kannst.
    <br><br>Unser Ziel ist es, Transparenz zu schaffen und einen bewussten Konsum zu fördern.
    Wir möchten Menschen dazu ermutigen, bessere Entscheidungen darüber zu treffen,
    welche Kleidung sie kaufen, und gleichzeitig dazu beitragen, eine nachhaltigere
    Modebranche zu unterstützen. Indem du GreenOrganizer nutzt, trägst du aktiv dazu
    bei, positive Veränderungen in der Modeindustrie zu bewirken. Wir sind überzeugt,
    dass kleine Schritte grosse Auswirkungen haben können, und gemeinsam können wir eine nachhaltigere Zukunft schaffen. Wir freuen uns,, dass du Teil unserer Community
    bist!
  </p>
</div>


