<app-header></app-header>
<div class="container fade-in-1">
  <h1>wer sind wir?</h1>
  <hr>
  <br>
  <p>
    Um einen klareren Überblick darüber zu erhalten, wie nachhaltig unser
    Kleiderschrank ist, haben wir die Website GreenOrganizer entwickelt. Unser Ziel ist es,
    dich darauf aufmerksam zu machen, wie wichtig es ist, nachhaltig einzukaufen, und
    dir gleichzeitig dabei zu helfen, dies zu erreichen.
    GreenOrganizer bietet eine einfache Möglichkeit, die Nachhaltigkeit deiner Kleidungsstücke zu bewerten.
    <br><br>Du kannst jedes Kleidungsstück hinzufügen, indem du
    Angaben zur Art des Kleidungsstücks, zur Marke und dazu, ob es gebraucht ist,
    machst. Anschliessend berechnet unsere Website diese Informationen, und das
    Ergebnis zeigt dir, ob es Gegenstände in deinem Kleiderschrank gibt, die nicht aus
    nachhaltigen Quellen stammen. Darüber hinaus erhältst du Empfehlungen, wie du in
    Zukunft mehr Wert auf nachhaltige Kleidung legen kannst.
    <br><br>Unser Ziel ist es, Transparenz zu schaffen und einen bewussten Konsum zu fördern.
    Wir möchten Menschen dazu ermutigen, bessere Entscheidungen darüber zu treffen,
    welche Kleidung sie kaufen, und gleichzeitig dazu beitragen, eine nachhaltigere
    Modebranche zu unterstützen. Indem du GreenOrganizer nutzt, trägst du aktiv dazu
    bei, positive Veränderungen in der Modeindustrie zu bewirken. Wir sind überzeugt,
    dass kleine Schritte grosse Auswirkungen haben können, und gemeinsam können wir eine nachhaltigere Zukunft schaffen. Wir freuen uns,, dass du Teil unserer Community
    bist!
  </p>
  <div class="fade-in-3 mt-1">
    <br>
    <h2>Wie berechnen wir deinen Kleiderschrank?</h2>
    Faktoren werden auf einer Skala von 0 bis 5 bewertet, wobei 0 für geringe Nachhaltigkeit und 5 für
    hohe Nachhaltigkeit steht. Addiert werden dann die Punktzahlen für jeden Bereich, um die
    Gesamtnachhaltigkeitspunkte zu erhalten.
    <br> <br>Marken (0-5 Punkte):
    <br> 0 Punkte: Keine Informationen oder keine Bemühungen um Nachhaltigkeit.
    <br>1-2 Punkte: Minimale Bemühungen um Nachhaltigkeit.
    <br>3 Punkte: Mässiger Einsatz von Nachhaltigkeit.
    <br>4-5 Punkte: Starkes Engagement für Nachhaltigkeit.
    <br><br>
      <a href="information/brands">Wie werden Marken berechnet?</a>
  </div>

  <div class="fade-in-3 mt-1">
    <br>
    <h2>Wie wird der Wasserverbrauch bewertet?</h2>
    Bewertungen des Wasserverbrauchs von Kleidungsstücken können variieren und
    hängen von verschiedenen Faktoren ab, einschließlich der Art der verwendeten
    Materialien, der Produktionsprozesse und der Nachhaltigkeitspraktiken der
    Marken.
    <br> <br> <div style="font-weight: bold">Hose aus konventioneller Baumwolle</div>Bewertung: 1
    <br>Konventionelle Baumwolle ist für einen hohen Wasserverbrauch bekannt. Der Anbau erfordert oft
    große Mengen an Wasser, und die Verarbeitung von Baumwolle zu Stoff kann ebenfalls
    wasserintensiv sein.
    <br> <br> <div style="font-weight: bold">T-Shirt aus konventioneller Baumwolle</div>Bewertung: 1
    <br>Wie bei Hosen erfordert die Herstellung von T-Shirts aus konventioneller Baumwolle einen
    erheblichen Wasserverbrauch.
    <br> <br> <div style="font-weight: bold">Jeans aus konventioneller Baumwolle</div>Bewertung: 1
    <br>Jeans haben oft einen höheren Wasserverbrauch aufgrund der speziellen Verarbeitungsprozesse und
    Färbetechniken.
    <br> <br> <div style="font-weight: bold">T-Shirt aus Bio-Baumwolle</div>Bewertung: 3
    <br>Der Anbau von Bio-Baumwolle erfordert in der Regel weniger Wasser als konventionelle Baumwolle.
    Die Bewertung kann jedoch je nach den spezifischen Praktiken der Marke variieren.
    <br> <br> <div style="font-weight: bold">Jeans aus Tencel (Lyocell)</div>Bewertung: 4
    <br>Tencel wird aus Holzfasern hergestellt und verwendet einen geschlossenen Kreislaufprozess, der den
    Wasserverbrauch im Vergleich zu Baumwolle reduziert.
    <br> <br> <div style="font-weight: bold">Second-Hand-Kleidung (jedes Kleidungsstück)</div>Bewertung: 5
    <br>Second-Hand-Kleidung hat einen minimalen Wasserverbrauch, da sie bereits hergestellt wurde. Der
    Kauf von Second-Hand fördert die Nachhaltigkeit durch Wiederverwendung.
    <br> <br> <div style="font-weight: bold">Sneaker aus konventionellen Materialien (z.B. Polyester, nicht-nachhaltiges Leder)</div>Bewertung: 2
    <br>Bewertung: 2
    <br>Sneaker aus herkömmlichen Materialien können einen mittleren bis hohen Wasserverbrauch
    aufweisen, insbesondere wenn nicht nachhaltige Lederarten und synthetische Materialien verwendet
    werden.
    <br> <br> <div style="font-weight: bold">Daunenjacke</div>Bewertung: 3
    <br>Die Herstellung von Daunenjacken erfordert Wasser, insbesondere wenn es um die Reinigung und
    Verarbeitung von Daunen geht. Bewertungen können je nach Marke und Produktionsprozess
    variieren.
    <br> <br> <div style="font-weight: bold">Lederjacke</div>Bewertung: 3
    <br>Bewertung: 1
    <br>Lederjacken haben oft einen hohen Wasserverbrauch, vor allem im Herstellungsprozess der
    Lederproduktion. Die Verarbeitung von Tierhäuten erfordert Chemikalien, und die Lederindustrie
    steht oft in Verbindung mit Abholzung und anderen Umweltauswirkungen.
</div>



</div>
