.custom-card {
  background-color: #eff2e9;
  border-color: #198754;
  border-width: 0.1em;
  font-family: "ABC Diatype", sans-serif;
  margin-top: 1em;
}

.custom-card:hover {
  cursor: pointer;
}

p {
  margin-bottom: 0 !important;
}
